@import url('https://fonts.googleapis.com/css?family=Epilogue:200,300,500,700'); 

body{
  background-image:url("bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
h1{
    color:rgb(255, 255, 255);
    font-family: "mskogure" ;
    font-size:40px;


}

p{
    font-size:20px;
    color: rgb(255, 255, 255);
    text-align: left;
    font-family:"dotum";
    background-color: "white";
}

ul{
    font-size: 20px;
    color:rgb(255, 255, 255);
    text-align:left;
    font-family: "dotum"
}
div {
    border: 1px solid gray;
    padding: 8px;
  }


.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ba6dbe;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.button:hover {background-color: #e1a1e4}
  
.button:active {
    background-color: #e1a1e4;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color:white;
  }